# Import Required Libraries

In [36]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Data

In [37]:
data=pd.read_csv(r'C:\Users\Arun\DEPLOYMENT\Feature Engineering\Categorical Encoding Techniques\One Hot Categorical Encoding\houseprice1.csv',usecols=['Neighborhood', 'Exterior1st', 'Exterior2nd','SalePrice'])

In [38]:
data.head()

  Neighborhood Exterior1st Exterior2nd  SalePrice
0      CollgCr     VinylSd     VinylSd     208500
1      Veenker     MetalSd     MetalSd     181500
2      CollgCr     VinylSd     VinylSd     223500
3      Crawfor     Wd Sdng     Wd Shng     140000
4      NoRidge     VinylSd     VinylSd     250000

In [39]:
from sklearn.model_selection import train_test_split

# Dividing Data Set into Dependent and Independent Variables

In [40]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [41]:
x.head()

  Neighborhood Exterior1st Exterior2nd
0      CollgCr     VinylSd     VinylSd
1      Veenker     MetalSd     MetalSd
2      CollgCr     VinylSd     VinylSd
3      Crawfor     Wd Sdng     Wd Shng
4      NoRidge     VinylSd     VinylSd

In [42]:
y.head()

0    208500
1    181500
2    223500
3    140000
4    250000
Name: SalePrice, dtype: int64

# Splitting Data into Training and Test Set

In [43]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

# Implementing Rare Label Encoding Using feature-engine

In [44]:
from feature_engine import categorical_encoders as ce

In [45]:
ohe=ce.RareLabelCategoricalEncoder(tol=0.05,n_categories=10)

In [46]:
ohe.fit(x_train)

RareLabelCategoricalEncoder(variables=['Neighborhood', 'Exterior1st',
                                       'Exterior2nd'])

In [47]:
x_train=ohe.transform(x_train)
x_test=ohe.transform(x_test)

In [48]:
x_train.head()

     Neighborhood Exterior1st Exterior2nd
921       Edwards     MetalSd     MetalSd
520       OldTown     MetalSd     MetalSd
401       CollgCr     VinylSd     VinylSd
280          Rare     Plywood     Plywood
1401      Gilbert     VinylSd     VinylSd

In [49]:
x_test.head()

     Neighborhood Exterior1st Exterior2nd
258       CollgCr     VinylSd     VinylSd
267          Rare     Wd Sdng     Wd Sdng
288          Rare     MetalSd     MetalSd
649          Rare        Rare        Rare
1233        NAmes     Plywood     Plywood

In [50]:
ohe.variables

['Neighborhood', 'Exterior1st', 'Exterior2nd']

In [51]:
ohe.encoder_dict_

{'Neighborhood': Index(['NAmes', 'CollgCr', 'OldTown', 'Edwards', 'Somerst', 'Gilbert',
        'NridgHt', 'NWAmes'],
       dtype='object'),
 'Exterior1st': Index(['VinylSd', 'MetalSd', 'HdBoard', 'Wd Sdng', 'Plywood'], dtype='object'),
 'Exterior2nd': Index(['VinylSd', 'MetalSd', 'HdBoard', 'Wd Sdng', 'Plywood'], dtype='object')}