# Import Required Libraries

In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Data

In [13]:
data=pd.read_csv(r'C:\Users\Arun\Desktop\DATA SCIENCE\MY PROJECTS\Multiple-Linear-Regression-master\50_Startups.csv')

In [14]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [15]:
from sklearn.model_selection import train_test_split

# Dividing Data Set into Dependent and Independent Variables

In [16]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [17]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [18]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Splitting Data into Training and Test Set

In [19]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

# Implementing Ordered Ordinal Encoding Using feature-engine

In [20]:
from feature_engine import categorical_encoders as ce

In [21]:
cou=ce.OrdinalCategoricalEncoder(encoding_method='ordered')

In [22]:
cou.fit(x_train,y_train)

OrdinalCategoricalEncoder(variables=['State'])

In [23]:
x_train=cou.transform(x_train)
x_test=cou.transform(x_test)

In [24]:
x_train.head()

    R&D Spend  Administration  Marketing Spend  State
32   63408.86       129219.61         46085.25      0
39   38558.51        82982.09        174999.30      0
21   78389.47       153773.43        299737.29      2
36   28663.76       127056.21        201126.82      1
19   86419.70       153514.11             0.00      2

In [25]:
x_test.head()

    R&D Spend  Administration  Marketing Spend  State
27   72107.60       127864.55        353183.81      2
35   46014.02        85047.44        205517.64      2
40   28754.33       118546.05        172795.67      0
38   20229.59        65947.93        185265.10      2
2   153441.51       101145.55        407934.54      1

In [26]:
cou.variables

['State']

In [27]:
cou.encoder_dict_

{'State': {'California': 0, 'Florida': 1, 'New York': 2}}