# Import Required Libraries

In [107]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Data

In [108]:
data=pd.read_csv(r'C:\Users\Arun\DEPLOYMENT\Feature Engineering\Categorical Encoding Techniques\Probability Ratio Encoding\train.csv')

In [109]:
data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [110]:
data.dropna(axis=0,inplace=True)

In [111]:
from sklearn.model_selection import train_test_split

# Dividing Data Set into Dependent and Independent Variables

In [112]:
x=data.drop(['Survived'],axis=1)
y=data['Survived']

In [113]:
x.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
3,4,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
6,7,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
10,11,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S
11,12,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S

In [114]:
y.head()

1     1
3     1
6     0
10    1
11    1
Name: Survived, dtype: int64

# Splitting Data into Training and Test Set

In [115]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.3,random_state=1)

In [116]:
x_train.shape

(128, 11)

# Implementing Probability Ratio Encoding Using feature-engine

In [122]:
from feature_engine import categorical_encoders as ce

In [123]:
cou=ce.WoERatioCategoricalEncoder(encoding_method='ratio',variables=['Sex'])

In [124]:
cou.fit(x_train,y_train)

WoERatioCategoricalEncoder(encoding_method='ratio', variables=['Sex'])

In [125]:
x_train=cou.transform(x_train)
x_test=cou.transform(x_test)

In [126]:
x_train.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
356,357,1,"Bowerman, Miss. Elsie Edith",27.500000,22.0,0,1,113505,55.0000,E33,S
737,738,1,"Lesurer, Mr. Gustave J",0.731707,35.0,0,0,PC 17755,512.3292,B101,C
75,76,3,"Moen, Mr. Sigurd Hansen",0.731707,25.0,0,0,348123,7.6500,F G73,S
487,488,1,"Kent, Mr. Edward Austin",0.731707,58.0,0,0,11771,29.7000,B37,C
572,573,1,"Flynn, Mr. John Irwin (""Irving"")",0.731707,36.0,0,0,PC 17474,26.3875,E25,S

In [127]:
x_test.head()

,PassengerId,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
297,298,1,"Allison, Miss. Helen Loraine",27.500000,2.0,1,2,113781,151.5500,C22 C26,S
456,457,1,"Millet, Mr. Francis Davis",0.731707,65.0,0,0,13509,26.5500,E38,S
581,582,1,"Thayer, Mrs. John Borland (Marian Longstreth M...",27.500000,39.0,1,1,17421,110.8833,C68,C
871,872,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",27.500000,47.0,1,1,11751,52.5542,D35,S
268,269,1,"Graham, Mrs. William Thompson (Edith Junkins)",27.500000,58.0,0,1,PC 17582,153.4625,C125,S

In [128]:
cou.variables

['Sex']

In [129]:
cou.encoder_dict_

{'Sex': {'female': 27.5, 'male': 0.7317073170731707}}