# Importing Required Libraries

In [17]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading Data Set

In [18]:
wine=pd.read_csv(r'C:\Users\Arun\DEPLOYMENT\Feature Engineering\Imputation Techniques\Complete Case Analysis\winequalityN.csv')

In [19]:
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

# Dividing Data into Dependent and Independent Variables

In [20]:
x=wine.iloc[:,:-1]
y=wine.iloc[:,-1]

In [21]:
x.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [22]:
y.head()

0    6
1    6
2    6
3    6
4    6
Name: quality, dtype: int64

# Imputation Using Feature Engine  ArbitraryNumberImputer

In [35]:
from feature_engine import missing_data_imputers as mdi

In [24]:
imputer=mdi.ArbitraryNumberImputer(arbitrary_number=100)

# Dividing Data Into Training and Test Set

In [25]:
from sklearn.model_selection import train_test_split

In [26]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [27]:
imputer.fit(x_train)

ArbitraryNumberImputer(arbitrary_number=100,
                       variables=['fixed acidity', 'volatile acidity',
                                  'citric acid', 'residual sugar', 'chlorides',
                                  'free sulfur dioxide', 'total sulfur dioxide',
                                  'density', 'pH', 'sulphates', 'alcohol'])

In [28]:
x_train=imputer.transform(x_train)
x_test=imputer.transform(x_test)

In [29]:
x_train.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
6152,red,7.8,0.70,0.06,1.9,0.079,20.0,35.0,0.99628,3.40,0.69,10.9
1284,white,7.7,0.27,0.34,1.8,0.028,26.0,168.0,0.99110,2.99,0.48,12.1
2998,white,6.0,0.32,0.30,1.3,0.025,18.0,112.0,0.98802,3.07,0.64,13.3
5123,red,7.7,0.43,0.25,2.6,0.073,29.0,63.0,0.99615,3.37,0.58,10.5
2217,white,8.1,0.25,0.38,3.8,0.051,18.0,129.0,0.99280,3.21,0.38,11.5

In [30]:
x_test.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1072,white,8.2,0.29,0.33,9.1,0.036,28.0,118.0,0.99530,2.96,0.40,10.9
508,white,5.9,0.62,0.28,3.5,0.039,55.0,152.0,0.99070,3.44,0.44,12.0
970,white,5.1,0.42,0.01,1.5,0.017,25.0,102.0,0.98940,3.38,0.36,12.3
905,white,8.4,0.19,0.42,1.6,0.047,9.0,101.0,0.99400,3.06,0.65,11.1
5839,red,9.9,0.27,0.49,5.0,0.082,9.0,17.0,0.99484,3.19,0.52,12.5

In [31]:
x_train.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
dtype: int64

In [32]:
x_test.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
dtype: int64

In [33]:
#here we can see the variables that are imputed
imputer.variables

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol']

In [34]:
# here we can see the Arbitary Number assigned to each variable
imputer.imputer_dict_

{'fixed acidity': 100,
 'volatile acidity': 100,
 'citric acid': 100,
 'residual sugar': 100,
 'chlorides': 100,
 'free sulfur dioxide': 100,
 'total sulfur dioxide': 100,
 'density': 100,
 'pH': 100,
 'sulphates': 100,
 'alcohol': 100}

# Feature engine allows to impute for particular variables

In [37]:
from sklearn.model_selection import train_test_split
x_train2,x_test2,y_train2,y_test2=train_test_split(x,y,test_size=0.3)

In [38]:
x_train2.isnull().sum()

type                    0
fixed acidity           4
volatile acidity        8
citric acid             1
residual sugar          1
chlorides               2
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      6
sulphates               4
alcohol                 0
dtype: int64

In [39]:
from feature_engine import missing_data_imputers as mdi
imputer2=mdi.ArbitraryNumberImputer(arbitrary_number=100,variables=['volatile acidity','residual sugar'])
imputer2.fit(x_train2)

ArbitraryNumberImputer(arbitrary_number=100,
                       variables=['volatile acidity', 'residual sugar'])

In [40]:
x_train2=imputer2.transform(x_train2)

In [41]:
x_train2.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
1365,white,6.7,0.13,0.28,1.20,0.046,35.0,140.0,0.99270,3.33,0.33,10.1
4104,white,6.9,0.45,0.27,4.70,0.035,17.0,80.0,0.99058,3.12,0.36,12.5
555,white,9.2,0.25,0.34,1.20,0.026,31.0,93.0,0.99160,2.93,0.37,11.3
163,white,7.4,0.24,0.42,14.00,0.066,48.0,198.0,0.99790,2.89,0.42,8.9
2648,white,6.6,0.23,0.29,14.45,0.057,29.0,144.0,0.99756,3.33,0.54,10.2

In [42]:
#here we can see that we are imputed only for volatile acidity and residual sugar
x_train2.isnull().sum()

type                    0
fixed acidity           4
volatile acidity        0
citric acid             1
residual sugar          0
chlorides               2
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      6
sulphates               4
alcohol                 0
dtype: int64