# Importing Required Libraries

In [30]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Loading Data Set

In [31]:
wine=pd.read_csv(r'C:\Users\Arun\DEPLOYMENT\Feature Engineering\Imputation Techniques\Complete Case Analysis\winequalityN.csv')

In [32]:
wine.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6

# Dividing Data into Dependent and Independent Variables

In [33]:
x=wine.iloc[:,:-1]
y=wine.iloc[:,-1]

In [34]:
x.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9

In [35]:
y.head()

0    6
1    6
2    6
3    6
4    6
Name: quality, dtype: int64

# Imputation Using Feature Engine  EndTailImputer

In [36]:
from feature_engine import missing_data_imputers as mdi

In [37]:
imputer=mdi.EndTailImputer(distribution='gaussian',tail='right')

# Dividing Data Into Training and Test Set

In [38]:
from sklearn.model_selection import train_test_split

In [39]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [40]:
imputer.fit(x_train)

EndTailImputer(variables=['fixed acidity', 'volatile acidity', 'citric acid',
                          'residual sugar', 'chlorides', 'free sulfur dioxide',
                          'total sulfur dioxide', 'density', 'pH', 'sulphates',
                          'alcohol'])

In [41]:
x_train=imputer.transform(x_train)
x_test=imputer.transform(x_test)

In [42]:
x_train.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
481,white,5.9,0.360,0.41,1.30,0.047,45.0,104.0,0.99170,3.33,0.51,10.600000
5512,red,9.2,0.755,0.18,2.20,0.148,10.0,103.0,0.99690,2.87,1.36,10.200000
1345,white,7.3,0.390,0.37,1.10,0.043,36.0,113.0,0.99100,3.39,0.48,12.700000
3322,white,5.7,0.260,0.30,1.80,0.039,30.0,105.0,0.98995,3.48,0.52,12.500000
4615,white,6.1,0.440,0.28,4.25,0.032,43.0,132.0,0.99160,3.26,0.47,11.266667

In [43]:
x_test.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
4875,white,7.4,0.22,0.26,1.20,0.035,18.0,97.0,0.99245,3.12,0.41,9.7
3039,white,6.3,0.27,0.29,12.20,0.044,59.0,196.0,0.99782,3.14,0.40,8.8
2492,white,6.1,0.28,0.24,19.95,0.074,32.0,174.0,0.99922,3.19,0.44,9.3
311,white,5.0,0.55,0.14,8.30,0.032,35.0,164.0,0.99180,3.53,0.51,12.5
4077,white,5.7,0.25,0.21,1.50,0.044,21.0,108.0,0.99142,3.30,0.59,11.0

In [44]:
x_train.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
dtype: int64

In [45]:
x_test.isnull().sum()

type                    0
fixed acidity           0
volatile acidity        0
citric acid             0
residual sugar          0
chlorides               0
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      0
sulphates               0
alcohol                 0
dtype: int64

In [46]:
#here we can see the variables that are imputed
imputer.variables

['fixed acidity',
 'volatile acidity',
 'citric acid',
 'residual sugar',
 'chlorides',
 'free sulfur dioxide',
 'total sulfur dioxide',
 'density',
 'pH',
 'sulphates',
 'alcohol']

In [47]:
# here we can see the Arbitary Number assigned to each variable
imputer.imputer_dict_

{'fixed acidity': 11.102701487354128,
 'volatile acidity': 0.8332173822565438,
 'citric acid': 0.7582401052457234,
 'residual sugar': 19.746866329051187,
 'chlorides': 0.1630326846712605,
 'free sulfur dioxide': 83.7931041964506,
 'total sulfur dioxide': 285.2469761450518,
 'density': 1.00370465452414,
 'pH': 3.7005241478494453,
 'sulphates': 0.9784600333834206,
 'alcohol': 14.073010648247243}

# Feature engine allows to impute for particular variables

In [48]:
from sklearn.model_selection import train_test_split
x_train2,x_test2,y_train2,y_test2=train_test_split(x,y,test_size=0.3)

In [49]:
x_train2.isnull().sum()

type                    0
fixed acidity           5
volatile acidity        4
citric acid             2
residual sugar          2
chlorides               2
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      4
sulphates               3
alcohol                 0
dtype: int64

In [50]:
from feature_engine import missing_data_imputers as mdi
imputer2=mdi.EndTailImputer(distribution='skewed',variables=['volatile acidity','residual sugar'],tail='right')
imputer2.fit(x_train2)

EndTailImputer(distribution='skewed',
               variables=['volatile acidity', 'residual sugar'])

In [51]:
x_train2=imputer2.transform(x_train2)

In [52]:
x_train2.head()

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol
3651,white,6.3,0.32,0.17,17.75,0.060,51.0,190.0,0.99916,3.13,0.48,8.8
6247,red,6.9,0.57,0.00,2.80,0.081,21.0,41.0,0.99518,3.41,0.52,10.8
296,white,8.3,0.39,0.70,10.60,0.045,33.0,169.0,0.99760,3.09,0.57,9.4
3618,white,7.1,0.27,0.24,12.60,0.044,48.0,118.0,0.99726,3.04,0.56,10.0
2273,white,6.1,0.46,0.32,6.20,0.053,10.0,94.0,0.99537,3.35,0.47,10.1

In [53]:
#here we can see that we are imputed only for volatile acidity and residual sugar
x_train2.isnull().sum()

type                    0
fixed acidity           5
volatile acidity        0
citric acid             2
residual sugar          0
chlorides               2
free sulfur dioxide     0
total sulfur dioxide    0
density                 0
pH                      4
sulphates               3
alcohol                 0
dtype: int64

In [54]:
#here we can see the variables that are imputed
imputer2.variables

['volatile acidity', 'residual sugar']

In [55]:
# here we can see the Arbitary Number assigned to each variable
imputer2.imputer_dict_

{'volatile acidity': 0.95, 'residual sugar': 26.6}