# Import Required Libraries

In [28]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Loading Data

In [29]:
data=pd.read_csv(r'C:\Users\Arun\Desktop\DATA SCIENCE\MY PROJECTS\Multiple-Linear-Regression-master\50_Startups.csv')

In [30]:
data.head()

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [31]:
from sklearn.model_selection import train_test_split

# Dividing Data Set into Dependent and Independent Variables

In [32]:
x=data.iloc[:,:-1]
y=data.iloc[:,-1]

In [33]:
x.head()

   R&D Spend  Administration  Marketing Spend       State
0  165349.20       136897.80        471784.10    New York
1  162597.70       151377.59        443898.53  California
2  153441.51       101145.55        407934.54     Florida
3  144372.41       118671.85        383199.62    New York
4  142107.34        91391.77        366168.42     Florida

In [34]:
y.head()

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

# Splitting Data into Training and Test Set

In [35]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=1)

# Implementing Ordinal Encoding Using feature-engine

In [36]:
from feature_engine import categorical_encoders as ce

In [37]:
ordi=ce.OrdinalCategoricalEncoder(encoding_method='arbitrary')

In [38]:
ordi.fit(x_train)

OrdinalCategoricalEncoder(encoding_method='arbitrary', variables=['State'])

In [39]:
x_train=ordi.transform(x_train)
x_test=ordi.transform(x_test)

In [40]:
x_train.head()

    R&D Spend  Administration  Marketing Spend  State
32   63408.86       129219.61         46085.25      0
39   38558.51        82982.09        174999.30      0
21   78389.47       153773.43        299737.29      1
36   28663.76       127056.21        201126.82      2
19   86419.70       153514.11             0.00      1

In [41]:
x_test.head()

    R&D Spend  Administration  Marketing Spend  State
27   72107.60       127864.55        353183.81      1
35   46014.02        85047.44        205517.64      1
40   28754.33       118546.05        172795.67      0
38   20229.59        65947.93        185265.10      1
2   153441.51       101145.55        407934.54      2

In [42]:
ordi.variables

['State']

In [43]:
ordi.encoder_dict_

{'State': {'California': 0, 'New York': 1, 'Florida': 2}}

In [44]:
x_train1,x_test1,y_train1,y_test1=train_test_split(x,y,test_size=0.2,random_state=1)

# Implementing One Hot Encoding Only for Particular Variable

In [45]:
ord1=ce.OrdinalCategoricalEncoder(encoding_method='arbitrary',variables=['State'])

In [46]:
ord1.fit(x_train1)

OrdinalCategoricalEncoder(encoding_method='arbitrary', variables=['State'])

In [47]:
x_train1=ord1.transform(x_train1)
x_test1=ord1.transform(x_test1)

In [48]:
x_train1.head()

    R&D Spend  Administration  Marketing Spend  State
32   63408.86       129219.61         46085.25      0
39   38558.51        82982.09        174999.30      0
21   78389.47       153773.43        299737.29      1
36   28663.76       127056.21        201126.82      2
19   86419.70       153514.11             0.00      1

In [49]:
x_test1.head()

    R&D Spend  Administration  Marketing Spend  State
27   72107.60       127864.55        353183.81      1
35   46014.02        85047.44        205517.64      1
40   28754.33       118546.05        172795.67      0
38   20229.59        65947.93        185265.10      1
2   153441.51       101145.55        407934.54      2

In [50]:
ord1.variables

['State']

In [51]:
ord1.encoder_dict_

{'State': {'California': 0, 'New York': 1, 'Florida': 2}}